@import "../../../styles/variables.scss";

.matchday-table-user {
  border-radius: 20px;
  padding: 20px;
  width: 100%;

  &__title {
    text-align: left;
    background-color: $dark-color;
    color: $lightcolor;
    font-size: $fontsize-m;
    font-weight: 700;
    border-radius: 8px;
    padding: 10px 20px;
    width: 420px;
    z-index: 100;
    position: relative;
  }

  &__container {
    background-color: $primary-color;
    padding: 20px 30px;
    margin: -20px 0 20px 20px;
    border-radius: 20px;

    & form {
       display: flex;
       width: 100%;

       & td {
        height: 50px;
        padding: 0 5px;
       }
    }
  }

  &__table {
    color: $dark-color;
    font-size: $fontsize-s;
    font-weight: 500;
    width: 100% !important;
    border-collapse: collapse;
    text-align: left;
  }

  &__thead th {
    font-weight: 500;
    background-color: $lightcolor;
    border: none;
    padding: 10px;
    font-size: $fontsize-s;
    text-align: center;
  }

  &__tbody tr {
    border-top: 10px solid $primary-color;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
  }

  &__tbody td {
    align-items: center;
    border: none;
    display: flex;
    justify-content: center;
    padding: 5px;
    vertical-align: middle;
    width: 120px;
  }

  &__matchday {
    font-weight: 700;
    width: 320px!important;
    justify-content: flex-start!important;
  }

  &__home-team {
    width: 150px;
  }

  &__away-team {
    width: 150px;
  }

  &__away-team-image {
    margin-right: 5px;
    margin-left: 10px;
  }

  &__home-team-image {
    margin-left: 5px;
    margin-right: 10px;
  }

  &__status {
    background: $dark-grey-color;
    text-align: center;
    padding: 0 10px!important;
    width: 120px;
  }
}
