// Colores
$primary-color: #E7EFE4;
$secondary-color: #B4D2FF;
$tertiary-color: #F9CD8B;
$quaternary-color: #0F4314;
$quinary-color: #CE1D1D;
$senary-color: #953D9C;
$dark-color: #030303;
$lightcolor: #ffffff;
$dark-grey-color: #D3D3D3;
$grey-color: #EEEEEE;
$light-grey-color: #F8F8F8;

// Tipografía
$fontsize-xs: 10px;
$fontsize-s: 14px;
$fontsize-m: 17px;
$fontsize-l: 20px;
$fontsize-xl: 22px;
$fontsize-xxl: 32px;