@import "./styles/variables.scss";

html,
body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

input {
  border: 1px $dark-grey-color solid;
  border-radius: 4px;
  height: 44px;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  padding: 3px 7px;

  &::placeholder {
    color: $dark-grey-color;
  }
}

label {
  margin-bottom: 10px;
  font-size: $fontsize-s;
  text-align: left;
  width: 100%;
}

table {
  margin: 0 auto;
}

table th,
table td {
  padding: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.button {
  font-family: "Montserrat", sans-serif;
  font-size: $fontsize-s;
  height: 44px;
  background-color: $quaternary-color;
  color: $lightcolor;
  border-radius: 4px;
  width: 100%;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.button--grey {
  background-color: $dark-grey-color;
  color: $dark-color;
}